<!doctype html>
<html lang="en">


<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Form Validation</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="../vendor/bootstrap/css/bootstrap.min.css">
	<link href="../vendor/fonts/circular-std/style.css" rel="stylesheet">
	<link rel="stylesheet" href="../css/style.css">
	<link rel="stylesheet" href="../vendor/fonts/fontawesome/css/fontawesome-all.css">
</head>

<body>
<!-- ============================================================== -->
<!-- main wrapper -->
<!-- ============================================================== -->
<div class="dashboard-main-wrapper">
	<!-- ============================================================== -->
	<!-- navbar -->
	<!-- ============================================================== -->
	<div th:replace="~{/layouts/leftsidebar}"></div>

	<!-- ============================================================== -->
	<!-- end navbar -->
	<!-- ============================================================== -->
	<!-- ============================================================== -->
	<!-- left sidebar -->
	<!-- ============================================================== -->
	<div th:replace="~{/layouts/header}"></div>

	<!-- ============================================================== -->
	<!-- end left sidebar -->
	<!-- ============================================================== -->
	<!-- ============================================================== -->
	<!-- wrapper  -->
	<!-- ============================================================== -->
	<div class="dashboard-wrapper">
		<div class="container-fluid  dashboard-content">
			<!-- ============================================================== -->
			<!-- pageheader -->
			<!-- ============================================================== -->
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
					<div class="page-header">
						<h2 class="pageheader-title">Form Validations </h2>
						<p class="pageheader-text">Proin placerat ante duiullam scelerisque a velit ac porta, fusce sit amet vestibulum mi. Morbi lobortis pulvinar quam.</p>
						<div class="page-breadcrumb">
							<nav aria-label="breadcrumb">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
									<li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Forms</a></li>
									<li class="breadcrumb-item active" aria-current="page">Form Validations</li>
								</ol>
							</nav>
						</div>
					</div>
				</div>
			</div>
			<!-- ============================================================== -->
			<!-- end pageheader -->
			<!-- ============================================================== -->

			<div class="row">
				<!-- ============================================================== -->
				<!-- validation form -->
				<!-- ============================================================== -->

				<!-- ============================================================== -->
				<!-- end validation form -->
				<!-- ============================================================== -->
			</div>
			<div class="row">
				<!-- ============================================================== -->
				<!-- basic form -->
				<!-- ============================================================== -->

				<!-- ============================================================== -->
				<!-- end horizontal form -->
				<!-- ============================================================== -->
			</div>
			<div class="row">
				<!-- ============================================================== -->
				<!-- valifation types -->
				<!-- ============================================================== -->
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
					<div class="card">
						<h5 class="card-header">Add Customer</h5>
						<div class="card-body">
							<form th:action="@{/client/update_data}" method="POST" th:object="${client}">
								<div class="form-group row">
									<label class="col-12 col-sm-3 col-form-label text-sm-right">CIN</label>
									<div class="col-12 col-sm-8 col-lg-6">
										<input type="number" th:name="cin" th:field="*{cin}" placeholder="Type your CIN" class="form-control" required>
									</div>
								</div>
								<div class="form-group row">
									<label class="col-12 col-sm-3 col-form-label text-sm-right">First Name</label>
									<div class="col-12 col-sm-8 col-lg-6">
										<input type="text" th:name="nom" th:field="*{nom}"  placeholder="Put your First Name - Min 6 chars." class="form-control" required>
									</div>
								</div>
								<div class="form-group row">
									<label class="col-12 col-sm-3 col-form-label text-sm-right">Last Name Length</label>
									<div class="col-12 col-sm-8 col-lg-6">
										<input type="text" th:name="prenom" th:field="*{prenom}" placeholder="Put your Last Name - Min 6 chars." class="form-control" required>
									</div>
								</div>
								<div class="form-group row text-right">
									<div class="col col-sm-10 col-lg-9 offset-sm-1 offset-lg-0">
										<button type="submit" value="add" class="btn btn-space btn-primary">Submit</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
				<!-- ============================================================== -->
				<!-- end valifation types -->
				<!-- ============================================================== -->
			</div>

		</div>
		<!-- ============================================================== -->
		<!-- footer -->
		<!-- ============================================================== -->
		<div th:replace="~{/layouts/footer_page}"></div>

		<!-- ============================================================== -->
		<!-- end footer -->
		<!-- ============================================================== -->
	</div>
</div>
<!-- ============================================================== -->
<!-- end main wrapper -->
<!-- ============================================================== -->
<!-- Optional JavaScript -->
<script src="../assets/vendor/jquery/jquery-3.3.1.min.js"></script>
<script src="../assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
<script src="../assets/vendor/slimscroll/jquery.slimscroll.js"></script>
<script src="../assets/vendor/parsley/parsley.js"></script>
<script src="../assets/libs/js/main-js.js"></script>
<script>
	$('#form').parsley();
</script>
<script>
	// Example starter JavaScript for disabling form submissions if there are invalid fields
	(function() {
		'use strict';
		window.addEventListener('load', function() {
			// Fetch all the forms we want to apply custom Bootstrap validation styles to
			var forms = document.getElementsByClassName('needs-validation');
			// Loop over them and prevent submission
			var validation = Array.prototype.filter.call(forms, function(form) {
				form.addEventListener('submit', function(event) {
					if (form.checkValidity() === false) {
						event.preventDefault();
						event.stopPropagation();
					}
					form.classList.add('was-validated');
				}, false);
			});
		}, false);
	})();
</script>
</body>

</html>